*pyc
**parse_table_datacmds.py
.idea
.DS_Store
gurobi.log
switch_model.egg-info/
venv
build*/
dist*/
autodoc*
examples/3zone_toy_expanded_hydrogen/*
examples/3zone_toy_hydrogen/*
switch_model/hydrogen.py
switch_model/hydrogen_onenode_old.py
switch_model/mga_old.py
switch_model/mga_lz.py
switch_model/mga_hsj.py
